<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row style="width: 97%!important;">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">group</mat-icon>
      <span>Mx User App</span>
      <span class="example-spacer"></span>
      <button mat-flat-button routerLink="/users-list">Users List</button>
      <button mat-flat-button routerLink="/user-albums/null">User Albums</button>
      <button mat-flat-button routerLink="/user-posts/null">User Posts</button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
