<button mat-icon-button class="close-button" (click)="dialogRef.close(false)">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<h2 matDialogTitle>Comments</h2>
<mat-dialog-content>
  <br>
  <mat-card *ngFor="let item of commentList">
    <mat-card-content class="p-0">
      <div fxFlex="100" class="pl-5 pr-5">
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="50">
            <div class="col-xs-12 border-bottom my-2">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><strong>Name:</strong></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{item.name}}</div>
            </div>
          </div>
          <div fxFlex="50">
            <div class="col-xs-12 border-bottom my-2">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><strong>Email:</strong></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{item.email}}</div>
            </div>
          </div>
          <span class="mb-8"></span>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="100">
            <div class="col-xs-12 border-bottom my-2">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><strong>Body:</strong></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{item.body}}</div>
            </div>
          </div>
          <span class="mb-8"></span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
